<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <%= link_to 'Inspigram', root_path, class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Top', root_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to 'My paint', '#', class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to 'Favorite', '#', class: 'nav-link' %>
      </li>

      <% if current_user %>
        <li class="nav-item">
          <%= link_to 'Logout', log_out_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>



