<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <%= link_to root_path, class: 'navbar-brand' do %>
    <span class="app-title">Inspigram</span>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Top', root_path, class: 'nav-link' %>
      </li>

      <li class="navbar-item">
        <%= link_to 'Collection', boards_path, class: 'nav-link', 'data-turbolinks': false %>
      </li>

      <% if current_user %>
        <li class="nav-item">
          <%= link_to 'Create', new_board_path, class: 'nav-link', 'data-turbolinks': false %>
        </li>

        <li class="nav-item">
          <%= link_to 'My collection', mine_boards_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Favorite', likes_users_path, class: 'nav-link' %>
        </li>
        
        <li class="nav-item">
          <%= link_to 'Logout', log_out_path, class: 'nav-link' %>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Start with Google", "/auth/google_oauth2", method: :post, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>



