<% content_for(:title, 'My collection') %>
<div class="my-board-index-page">
  <%= render "shared/navbar" %>
  <div class="container-fluid">

    <div class="js-masonry-container">

      <div class="js-masonry-sizer col-6 col-sm-4 col-lg-3"></div>

      <div class="row mt-3">
        <% @boards.each do |board| %>
          <div class="js-masonry-item col-6 col-sm-4 col-lg-3" id="<%= board.id %>">
            <div class="card mb-3 my-board-box">
              <%= image_tag board.board_image.url, class: 'rounded' %>
              
              <div class="my-icon-star">
                <i class="fas fa-star fa-2x"></i>
                <%= liked_count_of(board) %>
              </div> 
              
              <div class="my-icon-trash">
                <%= link_to board_path(board), method: :delete, data: { confirm: "画像を削除しますか？" } do %>
                  <i class="fas fa-trash fa-2x trash-icon"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div> <!-- .js-masonry-container -->
  </div> 
    <div class="text-center mt-3 mine-no-board">No more content</div>
</div>