<% content_for(:title, 'Create') %>
<div class="board-new-page">
  <%= render 'shared/navbar' %>

  <div class="container-fluid"> 
    <div class="board-form mt-3">
  
      <%= form_with model: @board, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <div class="form-group row justify-content-center">
          <%= f.label :board_image, class: 'text-white mb-3' do %>
            <%= image_pack_tag 'media/images/sample.jpg', class: 'rounded js-default_image new-object-fit' %>
            <%= f.file_field :board_image, class: 'form-control-file text-white bg-dark mb-3 mt-3 d-none js-uploader' %>
            <%= f.hidden_field :board_image_cache %>
          <% end %>
        </div>
        
        <div class="submit-button row justify-content-center">
          <%= f.submit 'Create', class: 'btn btn-info create-button' %>
        </div>
      <% end %>
  
    </div>
  </div>
</div>