<div class="jumbortron board-new-page mt-auto">

  <%= render 'shared/navbar' %>

  <div class="board-form mt-0">
    <%= form_with model: @board, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="form-group">
        <%= f.label '画像', class: 'text-white' %>
        <%= f.file_field :board_image, class: 'form-control-file text-white bg-dark', id: 'board_image_upload' %>
      </div>
      
      <div class="submit-button">
        <%= f.submit '投稿する', class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>